extends layout-form

block content
  .bottom-main-container
    form.form-example(action='/member/harapan', method='POST')
      .form-group
        label(for='exampleFormControlTextarea1') Sumber dana acara pernikahan
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Gambaran acara pernikahan
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Domisili setelah berkeluarga
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Karir ke depan
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Keturunan dan Pendidikan anak
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Pengelolaan keuangan rumah tangga
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Peningkatan ilmu agama
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Target jangka pendek
        textarea#exampleFormControlTextarea1.form-control(rows='3')
      .form-group
        label(for='exampleFormControlTextarea1') Memperbolehkan istri bekerja
        textarea#exampleFormControlTextarea1.form-control(rows='3')
