extends layout-form

block content
  .bottom-main-container
    form.form-example(action='/member/ibadah', method='POST')
      .form-group
        label(for='exampleFormControlTextarea1') Sholat Wajib
        textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='selalu dikerjkan/tidak, dominannya jamaah/tidak' )
      .form-group
        label(for='exampleFormControlTextarea1') Pengajian yang diikuti
        textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='nama/tempat/ustadz yang diikuti')
      .form-group
        label(for='exampleFormControlTextarea1') Bacaan dan Hafalan Al Quran
        textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='lancar/tidak')
