extends layout-form

block content
  .bottom-main-container
    form.form-example(action='', method='get')
      .form-group
        label(for='exampleFormControlSelect1') Dikeluarga sebagai
        select#exampleFormControlSelect1.form-control
          option Ayah
          option Ibu
          option Kakak
          option Adik
          option Anak
      .form-group
        label(for='exampleFormControlSelect1') Usia
        select#exampleFormControlSelect1.form-control
          option 35
          option 36
          option 37
          option 38
          option 39
          option 40
          option 41
          option 42
          option 43
          option 44
          option 45
          option 46
          option 47
          option 48
          option 49
          option 50
          option 52
          option 52
          option 53
          option 54
          option 55
          option 56
          option 57
          option 58
          option 59
          option 60
          option 61
          option 62
          option 63
          option 64
          option 65
          option 66
          option 67
          option 68
          option 69
          option 70
          option 71
      .form-group
        label(for='formGroupExampleInput') Pendidikan
        input#formGroupExampleInput.form-control(type='text', placeholder='Nama Depan')
      .form-group
        label(for='formGroupExampleInput2') Agama
        select#exampleFormControlSelect1.form-control
          option Islam
          option Kristen Katolik
          option Kristen Protestan
          option Hindu
          option Budha
          option Konghuchu
      .form-group
        label(for='formGroupExampleInput') Pekerjaan
        input#formGroupExampleInput.form-control(type='text', placeholder='Tempat Lahir')        
      .form-group
        label(for='exampleFormControlSelect1') Masih hidup
        select#exampleFormControlSelect1.form-control
          option Ya
          option Sudah Meninggal
