extends layout-form

block content
  .bottom-main-container
    form.form-example(action='/member/pendidikan', method='POST')
      .form-group
        label(for='formGroupExampleInput') Institusi/Universitas
        input#formGroupExampleInput.form-control(type='text', placeholder='Nama Depan', name: 'pendidikan')
      .form-group
        label(for='formGroupExampleInput2') Gelar
        input#formGroupExampleInput2.form-control(type='text', placeholder='Nama Belakang')
      .form-group
        label(for='formGroupExampleInput') Program Studi
        input#formGroupExampleInput.form-control(type='text', placeholder='Tempat Lahir')
      .form-group
        .form-row
          .col
            label(for='exampleFormControlSelect1') Tahun Mulai
            select#exampleFormControlSelect1.form-control
              option 2000
              option 2001
              option 2002
              option 2003
              option 2004
              option 2005
              option 2006
              option 2007
              option 2008
              option 2009
              option 2010
              option 2011
              option 2012
              option 2013
              option 2014
              option 2015
              option 2016
              option 2017
              option 2018
              option 2019
          .col
            label(for='exampleFormControlSelect2') Tahun Berakhir
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
