extends layout-form

block content
  .bottom-main-container
    form.form-example(action='', method='get')
      .form-group
        label(for='formGroupExampleInput') Perusahaan
        input#formGroupExampleInput.form-control(type='text', placeholder='Nama Depan')
      .form-group
        label(for='formGroupExampleInput2') Posisi
        input#formGroupExampleInput2.form-control(type='text', placeholder='Nama Belakang')
      .form-group
        .form-row
          .col
            label(for='exampleFormControlSelect1') dari tahun
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
          .col
            label(for='exampleFormControlSelect2') sampai tahun
            select#exampleFormControlSelect1.form-control
              option 1
              option 2
              option 3
              option 4
