doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Profile Form
    // Bootstrap core CSS
    link(href='../../stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='../../stylesheets/style.css', rel='stylesheet')
    // Custom styles for this template
  body
    .text-center
      h4 Perhatian
        p Mohon sebelum antum mengisi perhatikan untuk mengisi sejujurnya karena tidak ada  kebaikan dari sebuah keburukan. selain itu mohon isi semuanya form yang ada karena akan menjadi bahan pertimbangan

    .list-group.font-form
      a.list-group-item.list-group-item-action(href= '/member/data')
        | Data Diri
      a.list-group-item.list-group-item-action(href='http://localhost:3000/member/pengalaman')
        | Pengalaman Kerja
      a.list-group-item.list-group-item-action(href='http://localhost:3000/member/pendidikan')
        | Pendidikan
      a.list-group-item.list-group-item-action(href='#') Prestasi/Penghargaan
      a.list-group-item.list-group-item-action(href='#') Organisasi
      a.list-group-item.list-group-item-action(href='http://localhost:3000/member/keluarga')
        | Keluarga
      a.list-group-item.list-group-item-action(href='http://localhost:3000/member/fisik')
        | Gambaran Fisik
      a.list-group-item.list-group-item-action(href='http://localhost:3000/member/ibadah')
        | Ibadah
      a.list-group-item.list-group-item-action(href='http://localhost:3000/member/harapan')
        | Harapan


    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.window.jQuery || document.write('<script src="JavaScripts/jquery-slim.min.js"><\\/script>')
    script(src='../../JavaScripts/bootstrap.min.js')
