doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Album example for Bootstrap
    // Bootstrap core CSS
    link(href='../../stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='../../stylesheets/style.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../../stylesheets/album.css', rel='stylesheet')
    script(type='text/javascript', src='https://gc.kis.v2.scr.kaspersky-labs.com/D75634D3-A19C-6F47-B820-45C0CB0E527C/main.js', charset='UTF-8')
  body


    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.window.jQuery || document.write('<script src="JavaScripts/jquery-slim.min.js"><\\/script>')
    script(src='../../JavaScripts/popper.min.js')
    script(src='../../JavaScripts/bootstrap.min.js')
    script(src='../../JavaScripts/holder.min.js')

    block content
