extends layout

block content
    h3 welcome 
    .text-center
    .list-group.font-form
      a.list-group-item.list-group-item-action(href='/member/dashboard/form')
        | Form
      a.list-group-item.list-group-item-action(href= '/member/myprofile')
        | My Profile
      a.list-group-item.list-group-item-action(href='/member/dashboard/cari-pasangan')
        | Calon Pasangan Taaruf
      a.list-group-item.list-group-item-action(href='/member/dashboard/request-taaruf')
        | Request Taaruf

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.window.jQuery || document.write('<script src="JavaScripts/jquery-slim.min.js"><\\/script>')
    script(src='../../JavaScripts/bootstrap.min.js')
