doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Album example for Bootstrap
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/album.css', rel='stylesheet')
    script(type='text/javascript', src='https://gc.kis.v2.scr.kaspersky-labs.com/D75634D3-A19C-6F47-B820-45C0CB0E527C/main.js', charset='UTF-8')
  body
    .text-center
      .border-top-0 
        h3 Siti Komariah
      
      br
    .text-left  
      h4 Data diri
        h5 Nama :
        h5 Tempat/Tanggal lahir :
        h5 Domisili Sekarang :
        h5 Domisili (mahrom/wali/ortu) :
        h5 Nama : 
      h4 Gambaran Fisik
      p saya berbadan standar tinggi sekitar 166-170 dan berat sekitar51 - 55 berwarna kulit putih kekuningan dengan tipe rambut ikal.saya tidak pernah merokok dan tidak bertato. saya alhamdulillahtidak ada riwayat penyakit serius.         
      h4 Pengalaman Kerja        
      h4 Pendidikan
      h4 Prestasi/Penghargaan
      h4 Organisasi
      h4 Keluarga
      .card(style='width: 18rem;')
        .card-header
          | Featured
        ul.list-group.list-group-flush
          li.list-group-item Cras justo odio
          li.list-group-item Dapibus ac facilisis in
          li.list-group-item Vestibulum at eros
          li.list-group-item Vestibulum at eros
      h4 Ibadah
      h4 Harapan
        h5 Sumber dana acara pernikahan
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti 
        h5 Gambaran acara pernikahan
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus i
        h5 Domisili setelah berkeluarga
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus i
        h5 Karir ke depan
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus i
        h5 Keturunan dan Pendidikan anak
          p quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic 
        h5 Pengelolaan keuangan rumah tangga
          p quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
        h5 Peningkatan ilmu agama
          p quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
        h5 Target jangka pendek
          p et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudian
        h5 Memperbolehkan istri bekerja
          p et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudian


    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.window.jQuery || document.write('<script src="JavaScripts/jquery-slim.min.js"><\\/script>')
    script(src='JavaScripts/popper.min.js')
    script(src='JavaScripts/bootstrap.min.js')
    script(src='JavaScripts/holder.min.js')
    
    
    
  
  
