
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="../public/stylesheets/style-form.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../public/stylesheets/album.css" rel="stylesheet">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/D75634D3-A19C-6F47-B820-45C0CB0E527C/main.js" charset="UTF-8"></script></head>
  <body>
    <div class="main-container">
      <div class="top-main-container">
        <div class="top-main-container-item top-main-container-item-left"><span class="fa fa-arrow-left"></span>PROFIL</div>
        <div class="top-main-container-item top-main-container-item-right">simpan</div>
      </div>
      <br>
      <div class="bottom-main-container">
        <form action="" method="get" class="form-example">
          <fieldset class="form-group">
            <div class="form-example flex-column">
              <label for="name">Nama Depan: </label>
              <input type="text" name="name" id="name" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Nama Belakang: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Tempat Lahir: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Tanggal Lahir: </label>
              <input class="flex-row-item" type="month" name="email" id="email" required>
            <div class="form-example flex-column">
              <label for="email">Domisili: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Domisili Mahrom/Wali/Ortu: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Email: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">No HP/ Telpon: </label>
              <input type="email" name="email" id="email" required>
            </div>

            <div class="form-example flex-column">
              <label for="email">Domisili: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Domisili Mahrom/Wali/Ortu: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">Email: </label>
              <input type="email" name="email" id="email" required>
            </div>
            <div class="form-example flex-column">
              <label for="email">No HP/ Telpon: </label>
              <input type="email" name="email" id="email" required>
            </div>
          </fieldset>
        </form>
      </div>
    </div>




    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../public/javaScripts/popper.min.js"></script>
    <script src="../public/javaScripts/bootstrap.min.js"></script>
    <script src="../public/javaScripts/holder.min.js"></script>
  </body>
</html>
